<div class="container">
  <mat-form-field>
    <mat-label>Ingredientes disponíveis:</mat-label>
    <input matInput id="ingredient-input" [(ngModel)]="ingredients" name="ingredients"
      placeholder="Ex: tomate, cebola, alho" />
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="getRecipes()">
    <mat-icon>outdoor_grill</mat-icon>
    Buscar receitas
  </button>
</div>

<main>
  <aside>
    <div class="loading-container" *ngIf="loadingRecipes">
      <mat-spinner diameter="32"></mat-spinner>
    </div>

    <div *ngIf="recipes.length > 0 && !loadingRecipes" class="recipe-list">
      <h2>Receitas disponíveis:</h2>
      <ul>
        <li *ngFor="let recipe of recipes" (click)="getRecipeDetails(recipe)" class="link">
          {{ recipe }}
        </li>
      </ul>
    </div>
  </aside>

  <section id="content">
    <div class="loading-container" *ngIf="loadingRecipeDetails">
      <mat-spinner diameter="32"></mat-spinner>
    </div>

    <img src="{{recipeImage}}" alt="" *ngIf="recipeImage && !loadingRecipeDetails" />
    <div *ngIf="recipeDetails && !loadingRecipeDetails" class="recipe-details" [innerHTML]="recipeDetails"></div>
  </section>
</main>